streamlit==1.45.1

python-dotenv==1.1.0

PyMuPDF==1.26.0

langchain==0.3.26
langchain-core==0.3.68
langchain-community==0.3.27

langchain-google-genai==2.1.7
langchain-chroma==0.2.4
langchain-huggingface==0.3.0

chromadb==1.0.15

sentence-transformers==3.4.1

transformers==4.48.3

torch==2.6.0

python-docx==1.1.2

pytest==8.3.5
pytest-cov==6.0.0